---
import Nav from "../components/Nav.astro";
import { siteConfig } from "../config.ts";
import IconPhone from "../icons/phone.astro";
const { siteLogo, siteName, socials, sitePhone, siteEmail } = siteConfig;
---

<header id="Header" class="w-full relative">
    <aside id="SocialsBar" class="px-2 py-4 bg-gray-200">
        <ul class="flex gap-8 justify-center items-center">
            {
                sitePhone.length ? (
                    <li>
                        <a
                            href={`tel:${sitePhone}`}
                            target="_blank"
                            rel="noreferrer noopener"
                            class="bg-accent text-white hover:bg-300 p-1.5 rounded-full flex transition hover:scale-110"
                        >
                            <IconPhone />
                        </a>
                    </li>
                ) : (
                    ""
                )
            }

            {
                socials.map((item, index) => {
                    if (item.url.length > 0) {
                        return (
                            <li>
                                <a
                                    href={item.url}
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="bg-accent text-white hover:bg-300 p-1.5 rounded-full flex transition hover:scale-110"
                                >
                                    <item.icon />
                                </a>
                            </li>
                        );
                    }
                })
            }
        </ul>
    </aside>

    <div
        id="NavContainer"
        class="px-2 py-4 bg-white flex justify-between items-center shadow transition"
    >
        <h1>
            <a href="/" title={siteName}>
                {
                    siteLogo.length ? (
                        <img src={siteLogo} class="max-h-12 w-auto" />
                    ) : (
                        <p> {siteName} </p>
                    )
                }
            </a>
        </h1>
        <nav
            x-data="{open:false}"
            class="relative max-h-16 text-right w-full max-w-xs md:max-w-full"
        >
            <button @click="open=!open" class="md:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-10"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>

            <div class="hidden md:block">
                <Nav />
            </div>

            <div
                @click.away="open=false"
                x-show="open"
                x-cloak
                x-transition
                class="md:hidden absolute top-[54px] p-4 bg-white right-0 text-left origin-top-right shadow w-full z-50"
            >
                <Nav />
            </div>
        </nav>
    </div>
</header>
