---
import { siteConfig } from "../config.ts";
const { siteName, siteProfession, siteHeroImage } = siteConfig;
const heroImage = `bg-[url("${siteHeroImage}")]`;
---

<section
    id="Hero"
    class="hero ${heroImage} flex justify-center items-center text-white bg-cover bg-center relative min-h-[680px]"
    style={`background-image: url('${siteHeroImage}')`}
>
    <div class="relative z-10">
        <span
            class="bg-accent-200 text-accent-700 px-4 py-0.5 rounded-full inline-block text-center text-xl"
            >#Quién Soy</span
        >
        <h2 class="text-4xl font-bold mt-8">{siteName}</h2>
        <h3 class="text-xl mt-2">{siteProfession}</h3>

        <a
            href="#Contacto"
            class="bg-accent hover:bg-accent-600 transition px-8 py-2 rounded-md mt-8 inline-block text-xl font-semibold"
        >
            Contacto
        </a>
    </div>
</section>

<style>
    .hero::before {
        content: "";
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
</style>
